<div class="col-md-6 col-centered text-center jumbotron">
    <h3>Here are some jobs you might like...</h3>
    <br>
    <div class="panel panel-default" ng-repeat='job in jobs'>
        <div class="panel-heading">
            <h2 class="panel-title"><b>{{job.name}}</b></h2>
        </div>
        <div class="panel-body">
            <h4>
            <span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;{{job.user}}<br>
             <span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;{{job.email}}<br>
             <span class="glyphicon glyphicon-tag"></span>&nbsp;&nbsp;${{job.price}}&nbsp;&nbsp;<br>
 </h4>
            <br>
            <br><h4>{{job.desc}}</h4>
            <br>

        </div>
    </div>
</div>
<br><br>